.store-list-container {
    padding-top: 100px;
}

.store-list-item {
    position: relative;
    display: block;
    padding: 10px 10px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.store-list-item:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: #fefff6;
}

.store-list-item:first-child {
    border-top: 0;
}

.store-list-item:last-child {
    border-top: 0;
}

.store-item-image {
    display: inline-block;
}

.store-item-info {
    display: inline-block;
    margin-left: 10px;
    position: absolute;
    top: 10px;
}

.store-item-name {
    display: block;
    color: #000;
}

.store-item-address {
    display: block;
    color: #8c8c8c;
}

.store-list-loading {
    margin: 0 auto;
}

.store-search-bar {
    position: fixed;
    left: 0;
    right: 0;
    top: 50px;
    z-index: 100;
}
